<ul>
  <li *ngFor="let user of users">
    <a (click)="switchUser(user)">{{user}}</a>
</ul>
<button (click)="refreshUsers()">Refresh Users</button>

<div>
  <label>{{user | uppercase}}</label>
    <div class="t" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <ul>
        <li *ngFor="let m of messages">
         <p [ngClass]="{'admin': m.username === 'ADMIN'}"> {{m.username}}:</p>
          {{m.message}}
        </li>
        </ul>
    </div>
  <input [(ngModel)]="reply" type="text">
  <button (click)="send()">Send</button>
</div>
