/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Futura Std Bold';
    src: url('assets/fonts/Futura-Std-Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Futura Std Book';
    src: url('assets/fonts/Futura-Std-Book.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Futura Std Medium';
    src: url('assets/fonts/Futura-Std-Bold.otf') format('opentype');
}

  